{% extends "home.html" %}
{% block about %}
<!-- About page text -->
<div >
    <h4 style='color: #000000; font-size: 18px; position: absolute; top: 80px;  left: 100px' id='about'>
        The Spotify Song Recommendation System takes in 1) a user-selected playlist URL and 2) a number of desired song recommendations as input, and generates a list of recommendations based on various song data and audio features.<br><br>
        To learn more about about the main components and implementation of this project, feel free to check out our GitHub repository: <a style='color: #000000' href='https://github.com/kangelaa/pic16b-final-proj'>GitHub Repository with Data, Feature Acquisition/Engineering Pipeline, and Website Code.</a>
        If you would like to generate recommendations from a larger database of 1M songs on a localhost server, instructions to do so and the corresponding data can also be found on the GitHub.<br><br><br>
        This project was built by <a style='color: #000000' href='https://www.linkedin.com/in/angela-kan-0b7b4718a/'>Angela Kan</a> and <a style='color: #000000' href='https://www.linkedin.com/in/bruno-romani/'>Bruno Romani</a>.
    </h4>
</div>
{% endblock %}